  @import '../../styles/mixins.scss';
  @import '../../styles//colors.scss';
  
  input {
    @include neu($backgroundColor, -4px, 32%, -2%);
    grid-column: span 4;
    @media screen and (max-width: 768px) {
      grid-column: 2 / 9;
    }
    color: $color;
    border-radius: 4px;
    font-size: inherit;
    line-height: 1.5em;
    padding: 0.5em;
    
    &:focus {
      @include neu($backgroundColor, -4px, 48%, 0%);
    }
  }