@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';

.confirm-modal {
  position: absolute;
  width: 67vw;
  min-height: 50vh;
  padding: 40px;
  background-color: $backgroundColor;
  border-radius: 8px;
  @include elevate($backgroundColor, 32px);
  
  .sense-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    padding-top: 16px;

    button {
      padding: 16px;
      text-align: left;

      h4 {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
        display: inline;
      }
      em {
        opacity: 0.5;
      }
      div {
        text-align: left;
        line-height: 1.2em;
      }
    }
  }
}