@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';

.confirm-modal {
  position: absolute;
  width: 80vw;
  max-height: 80vh;
  padding: 32px;
  background-color: $backgroundColor;
  border-radius: 8px;
  overflow: scroll;
  top: 10vh;
  left: 10vw;
  box-sizing: border-box;
  @include elevate($backgroundColor, 32px);
  
  .sense-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16ch, 1fr));
    grid-gap: 24px;
    padding-top: 16px;

    button {
      padding: 16px;
      text-align: left;

      h4 {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
        display: inline;
      }
      em {
        opacity: 0.5;
      }
      div {
        text-align: left;
        line-height: 1.2em;
      }
    }
  }
}